################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/XamarinPOC/XamarinPOC/bin/Debug
/XamarinPOC/XamarinPOC/obj/Debug
/XamarinPOC/XamarinPOC.Droid/bin/Debug
/XamarinPOC/XamarinPOC.Droid/obj/Debug
/XamarinPOC/XamarinPOC.iOS/bin/iPhone/Debug
/XamarinPOC/XamarinPOC.iOS/obj/iPhone/Debug
